
/SkeletalTracking/SkeletalTracking/bin/
/SkeletalTracking/SkeletalTracking/obj/
/SkeletalTrackingVB/SkeletalTracking/bin/
/SkeletalTrackingVB/SkeletalTracking/obj/
/SkeletalTracking/SkeletalTracking.suo
/SkeletalTracking/SkeletalTracking/SkeletalTracking.csproj.user
/Dependencies/KinectWpfViewers/obj/
/Dependencies/KinectWpfViewers/bin/
/Dependencies/KinectWpfViewers/Microsoft.Samples.Kinect.WpfViewers.suo
/Dependencies/KinectWpfViewers/Microsoft.Samples.Kinect.WpfViewers.sln.docstates.suo