
/5.Skeletal Tracking/SkeletalTracking/SkeletalTracking/bin
/5.Skeletal Tracking/SkeletalTracking/SkeletalTracking/obj
/5.Skeletal Tracking/SkeletalTracking/SkeletalTracking/obj
/5.Skeletal Tracking/SkeletalTrackingVB/SkeletalTracking/bin
/5.Skeletal Tracking/SkeletalTrackingVB/SkeletalTracking/obj
/KinectTest/KinectTest/bin
/KinectTest/KinectTest/obj