*.DS_Store
/SkeletonBasics-WPF/*.pfx
/SkeletonBasics-WPF/obj
/SkeletonBasics-WPF/bin
/SkeletonBasics-WPF/Libs/Microsoft.Kinect.Toolkit.FaceTracking/obj
/SkeletonBasics-WPF/Libs/Microsoft.Kinect.Toolkit.FaceTracking/bin

/SkeletonBasics-WPF/*.suo
/SkeletonBasics-WPF/*.psess
/SkeletonBasics-WPF/*.vsp
/SkeletonBasics-WPF/publish
